<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header role="banner">
		<h1>EPAM Systems</h1>
	</header>

	<nav class="menu">
		<div>
            @Html.ActionLink("студенты", "Index", "Students")
		</div>
		<div>
            @Html.ActionLink("награды", "Index", "Award")
		</div>
	</nav>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <footer>
		Copyright &copy; <a href="http://epam.com/" target="_blank">EPAM Systems</a>
	</footer>
</body>
</html>
